<a href="https://colab.research.google.com/github/ziababar/DataDen/blob/master/DataVisualization/Example2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Plotting with categorical data

*Credit: These examples were originally source from the Seaborn [tutorials](https://seaborn.pydata.org/tutorial.html)*

Just like continuous data, categorical data can be plotted on the same charts that we saw previously. Here one of the main variables is “categorical” (divided into discrete groups).

## Setting things up

Perform initial setup of the environment and import necessary libraries

In [0]:
import seaborn as sns
sns.__version__

In [0]:
!pip install seaborn=="0.9.0"

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Set various aesthetic parameters in one step. Details of possible parameters can be found at https://seaborn.pydata.org/generated/seaborn.set.html

In [0]:
sns.set(style="ticks", color_codes=True)

##Loading and Creating the Datasets

In [0]:
tips = sns.load_dataset("tips")
titanic = sns.load_dataset("titanic")

In [0]:
tips.head(10)

In [0]:
titanic.head(10)

## Visualization using Category Plots

The catplot() function plots all of the points belonging to one category on the same position along the axis corresponding to the categorical variable.

### Example 1

In [0]:
sns.catplot(x="day", y="total_bill", data=tips);

### Example 2

In [0]:
sns.catplot(x="day", y="total_bill", jitter=False, data=tips);

### Example 3

In [0]:
sns.catplot(x="day", y="total_bill", hue="sex", kind="swarm", data=tips);

## Bar plots

The barplot() function creates a histogram looking chart by calculating the mean for each categorical variable. It can also show the confidence interval around the mean and plots that using error bars:

### Example 4

In [0]:
sns.catplot(x="deck", kind="count", data=titanic);

### Example 5

In [0]:
sns.catplot(x="sex", y="survived", hue="class", ci=None, kind="bar", data=titanic);

In [0]:
sns.catplot(x="sex", y="survived", hue="class", kind="bar", data=titanic);